In [13]:
#IMPORT DEPENDENCIES
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [14]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Jorge\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

# Mars News

In [15]:
#Create URL Variable
url = "https://redplanetscience.com/"
browser.visit(url)

In [16]:
#CREATE VARIABLE FOR TITLE CLASS DIV
html = browser.html
mars_soup = bs(html, "html.parser")

title_class = mars_soup.select_one('div.list_text')

In [17]:
#FIND DIV FOR TITLE OF ARTICLE
title_class.find('div', class_='content_title')

In [18]:
#SAVE TITLE TEXT WITH VARIABLE
title_text = title_class.find('div', class_='content_title').get_text()
title_text

"NASA's Perseverance Rover Will Carry First Spacesuit Materials to Mars"

In [19]:
#SAVE ARTICLE PREVIEW TEXT WITH VARIABLE
article_text = title_class.find('div', class_='article_teaser_body').get_text()
article_text

'In a Q&A, spacesuit designer Amy Ross explains how five samples, including a piece of helmet visor, will be tested aboard the rover, which is targeting a July 30 launch. '

# JPL

In [20]:
# VISIT URL
jpl_url = "https://spaceimages-mars.com"
browser.visit(jpl_url)

In [21]:
# FIND IMG TAG
img_tag = browser.find_by_tag("button")[1]
img_tag.click()

In [22]:
# PARSE HTML
html = browser.html
jpl_soup = bs(html, 'html.parser')

In [23]:
# RELATIVE URL
rel_url = jpl_soup.find('img', class_='fancybox-image').get('src')
rel_url

'image/featured/mars2.jpg'

In [24]:
# CREATE ABSOLUTE URL
featured_image_url = f'https://spaceimages-mars.com/{rel_url}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

# Mars Facts

In [25]:
# PULL DATA FROM URL WITH PANDAS
facts_df = pd.read_html('https://galaxyfacts-mars.com')[0]
facts_df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [26]:
facts_df.columns=['Description', 'Mars', 'Earth']
facts_df.set_index('Description', inplace=True)
facts_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [27]:
facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Hemispheres

In [28]:
url = 'https://marshemispheres.com/'

browser.visit(url)

In [29]:
# CREATE LIST FOR HEMISPHERES
hemisphere_urls = []

# LIST ALL HEMISPHERES
hemispheres = browser.find_by_css('a.product-item img')

# Next, loop through those links, click the link, find the sample anchor, return the href
for item in range(len(hemispheres)):
    hemisphere = {}
    
    #IDENTIFY ELEMENTS
    browser.find_by_css('a.product-item img')[item].click()
    
    #HEMISPHERE TITLE
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # IDENTIFY IMG ANCHOR/USE HREF
    img_anchor = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = img_anchor['href']
    
    
    # APPEND TO LIST
    hemisphere_urls.append(hemisphere)
    
  
    browser.back()

In [30]:
hemisphere_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [31]:
browser.quit()